<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- /font-awesome -->
    <!-- Cdn Luxon  -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script>
    <!-- /Cdn Luxon  -->
    <!-- Google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&family=Roboto+Slab:wght@600&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <!-- /Google font  -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <div class="aside">
            <!-- sezione my id -->
            <div class="my-user">
                <div class="my-user-icon"><img src="img/avatar_io.jpg">Sofia</div>
                <div class="icons">
                    <button><i class="fa-solid fa-circle-notch"></i></button>
                    <button><i class="fa-solid fa-message"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </div>
            <!-- /sezione my id -->
            <!-- sezione notifice -->
            <div class="notification">
                <span class="bell"><i class="fa-solid fa-bell-slash"></i></span>
                <div>
                    <div><strong>Ricevi notifiche di nuovi messaggi</strong></div>
                    <a href="#">Attiva notifiche Desktop</a>
                </div>
            </div>
            <!-- /sezione notifice -->
            <!-- sezione ricerca chat -->
            <div class="search-bar">
                <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input @keyup="searchContact()" v-model="findLetter" class="nav-bar" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- /sezione ricerca chat -->
            <!-- sezione utenti aside-->
            <div class="users">
                <div class="contacts">
                    <ul class="name-friends">
                        <li class="img-list" v-for="(contact, index) in contacts" v-show="contact.visible === true" @click="changeChat(index)" >
                            <div class="img-list-left">
                                <img :src="`img/avatar${contact.avatar}.jpg`">
                                <div>
                                    <div>{{contact.name}}</div>
                                    <small>{{lastMessage(index)}}</small>
                                </div>
                            </div>
                            <div class="time">
                                <small>{{messageHour(contact)}}</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /sezione utenti aside -->
        </div>
        <div class="list-chat-users">
            <!-- sezione chat utente -->
            <div class="header">
                <div class="my-user-icon"><img :src="changeImg(contacts[currentIndex].avatar)"></div>
                <div class="name-friends">
                    <div>{{contacts[currentIndex].name}}</div>
                    <small>ultimo messaggio oggi alle {{messageHour(contacts[currentIndex])}}</small>
                </div>
                <div class="icons">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-paperclip"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </div> 
            <!-- /sezione chat utenti -->
            <!-- sezione messaggi -->
            <div class="main">
                <div class="received" v-for="(message, index) in contacts[currentIndex].messages" :class="{'status-green' : message.status === 'sent',  'status-white' : message.status === 'received' }">
                    <div>{{ message.message }}</div>
                </div>
            </div>
            <!-- /sezione messaggi -->
            <div class="footer">
                <button><i class="fa-regular fa-face-smile"></i></button>
                <input @keyup.enter="addNewMessage()" v-model="newMessage" class="nav-bar" type="text" placeholder="Scrivi un messaggio">
                <button><i class="fa-solid fa-microphone"></i></button>
            </div>
        </div>
    </div>
    <!-- Cdn JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /Cdn JS -->
    <!-- script js -->
    <script src="js/contacts.js"></script>
    <!-- /script js -->
</body>

</html>